* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

.container{
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.calculator-input{
width: 100%;
font-size: 4rem;
height: 70px;
border: none;
background-color: #736868;
color: #fff;
text-align: right;
padding-left: 20px;
padding-right: 20px;
}

button{
    height: 50px;
    background-color: rgb(185, 111, 111);
    border-radius: 3px;
    border:1px solid #c4c4c4;
    background-color: transparent;
    font-size: 2.5rem;
    color: #333;
}

button:hover{
    background-color: #eaeaea;

}

.clear{
    background-color: chocolate;
    color:#fff;

}
.equal{
    grid-area: 2/4/6/5;
}
.clear:hover{
    background-color: coral;
}

.operator{
    background-color: aquamarine;
    
}

.calculator-keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    padding: 20px;

}
